
<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}?v={{ STATIC_VERSION }}">
    <title>Login</title>
</head>
<body>

    <div id="central">
        
        <div id="toAnfitriao">
            <a href="/loginAnfitriao/">Sou anfitrião</a>
        </div>

        <div class="link-login">
            <a href="/cadastro/">Não tem conta? Cadastre-se</a>
        </div>

        <div id="loginBox">
            <h1 id="titulo">Logar</h1>

            <form method="post">
                {% csrf_token %}
                {{ formulario.as_p }}
                <button type="submit">Enviar</button>
            </form>
        </div>
        
    </div>

</body>
</html>
