<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/loginAnfitriao.css' %}?v={{ STATIC_VERSION }}">
    <title>Login - Anfitrião</title>
</head>
<body>
    <!-- Link no canto superior direito -->
    <div id="toCliente">
        <a href="/login/">Sou cliente</a>
    </div>

    <div id="central">
        <div id="cadastroLink">
            <a href="/cadastroAnfitriao/">Não tem conta? Cadastre-se</a>
        </div>

        <div id="loginBox">
            <h1 id="titulo">Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ formulario.as_p }}
                <button type="submit">Entrar</button>
            </form>
        </div>
    </div>
</body>
</html>
